@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
 }
 html {
    scroll-behavior: smooth;
    }
 .example{
    background-color: teal;
    width: 150px;
    height: 150px;
 }

 body{
    background: #080808;
    color: #fff;
    font-family: 'Outfit', sans-serif;

 }
 #header{
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Outfit';
 }
 .image-top{
    width: 100%;
    height: 100%;
 }
 .image-top .hero-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
 }
.image-top::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8; 

 } 
 
 nav{
    position: fixed;
    z-index: 10; 
 }
 .nav-container{
    padding: 1.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .nav-container-bg{
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.5s;
 }
 .nav-menu{
    display: flex;
 }
 .nav-menu li{
    padding: 0 1rem;
    list-style: none;
 }
  .nav-menu li a{
     /* background-color: green; */
    color:#fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}


 .logo{
    font-size: 35px; 
    /* font-size: 2.2rem; */
    color: #fff;
    font-family: 'Outfit';
 }
 .logo a{
    color:#fff;
    text-decoration: none;
 }

 .ham{
    display: none;
 }

.header-text{
    position: absolute;
    transform: translate(-50%, -50%);
    /* background-color: yellow; */
    /* display: none; */
    /* margin-top: 20%; */
    font-size: 45px;
    text-align: center;
    /* align-self: center; */
    /* left: 0; */
    /* top: 0; */
    left: 50%;
    top: 50%;
}
.header-text p{
    margin-top: 1.7%;
    font-weight: 600; 
}
.header-text h1{
    font-size: 22px;
    font-weight: 500;
}
.header-buttons{
    margin-top: 0.2%;
}
.header-buttons button{
    padding: 12px 32px;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
   border: 1px solid white;

}
.header-buttons .btn{
   /* background: transparent; */
  background-color: rgb(104, 15, 248); 
   color: #fff;
   
}
.header-buttons .btn-light , .project-btn button{
background: transparent;
color: #fff;
}
.header-buttons a{
    text-decoration: none;
    color: #fff;

}
.header-buttons button:hover, .project-btn button:hover{
  /* color: black;
  background-color: rgb(248, 217, 15); */
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}
#projects{
    /* background: blue; */
    text-align: center;
}
#projects h2{
    padding-top: 2%;
    padding-bottom: 4%;
}
.projects-container{
    margin-inline: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding-inline: 1% ; */
    /* padding-bottom: 2%; */
    /* background-color: green; */
}
.project-tab{
    /* width: 70px; */
    width: 40%;
    position: relative;
    
    /* background-color: rgb(36, 35, 35); */
    margin: 2%;
    border-radius: 10px;
    overflow: hidden;
}
.project-tab:hover .project-image img{
    transform: scale(1.02);
}

.project-image{
    /* height: 200px; */
    height: 100%;
}
.project-image img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    /* border-radius: 10px 10px 0px 0px; */
    border-radius: 10px;
}

.project-text{
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(129, 75, 218));
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: height 0.5s;
    padding-inline: 2%;
    
    /* margin-inline: 3%; */
    /* padding-bottom: 3%; */

}
.project-tab:hover .project-text{
    height: 100%;
}
.project-text h3{
    text-align: center;
    margin: 3% ;
}
.project-text p{
text-align: center;
}
.project-btn{
    /* background-color: teal; */
    display: flex;
    width: 50%;
    margin-top: 3%;
    justify-content: space-around;
}
.project-btn a{
    text-decoration: none;
}
.project-btn button{
    margin: 2%;
    padding: 12px 32px;
    /* width: 100px;
    height: 100px; */
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
   border: 1px solid white;
   color: #fff;
   background-color: transparent;
   border-radius: 5px;
}



@media screen and (max-width: 768px){
    .nav-menu {
        /* display: none; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.5s;
    }
    .nav-menu-active{
        left: 0;
        transition: 0.5s;

    }
    .nav-menu li{
        padding: 1rem 0;
    }
    .nav-menu li{
     font-size: 2rem;
    }
    .ham{
        display: block;
      
    }
    .project-btn button{
        font-size: 0.8rem;
        margin: 2%;
        padding: 10px 30px;
    }
    .project-text h3{
        font-size: 16px;
    }
    .project-text p{
        font-size: 13px;
    }
    .project-btn {
       width: 80%;
    }
}


@media screen and (max-width: 425px){
    .header-text{
        font-size: 36px;
    }
    .header-text h1{
        font-size: 18px;
    }
    .header-buttons button{
        font-size: 0.8rem;
    }
.projects-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-tab{
    width: 80%;
    margin: 4%;

}
.project-image{
    /* height: 200px; */
    height: 100%;
}

}